<div id="grid"></div>
<button id="next">Next generation</button>

<script>
    const height = 20;
    const width = 30;

    let grid = document.getElementById("grid");
    let checkBoxes = [];
    for (let i = 0; i < height; i++) {
        for (let j = 0; j < width; j++) {
            let checkBox = document.createElement("input");
            checkBox.type = "checkbox";
            checkBox.checked = Math.random() < 0.5 ? true : false;
            grid.appendChild(checkBox);
            checkBoxes.push(checkBox);
        }
        grid.appendChild(document.createElement("br"));
    }

    function neighbors(grid, x, y) {
        let count = 0;
        for (let i = Math.max(0, x - 1); i <= Math.min(height - 1, x + 1); i++) {
            for (let j = Math.max(0, y - 1); j <= Math.min(width - 1, y + 1); j++) {
                if (!(i == x && j == y) && grid[i * width + j].checked)
                    count++;
            }

        }
        return count;
    }
    let x = 0;
    function nextGenBoxes(grid) {
        for (let i = 0; i < grid.length; i++) {

            checkBoxes[i].checked = grid[i];
        }
    }
    function nextGen(grid) {
        let newGrid = [];
        for (let i = 0; i < height; i++) {
            for (let j = 0; j < width; j++) {
                let neighbor = neighbors(grid, i, j);
                if (neighbor < 2 || neighbor > 3) {
                    newGrid.push(false);
                } else

                    if (neighbor == 2)
                        newGrid.push(grid[i * width + j].checked);
                    else
                        newGrid.push(true);

            }
        }
        return newGrid;
    }
    function whyThisWorks() {
        nextGenBoxes(nextGen(checkBoxes))
    }
    document.getElementById("next").addEventListener("click", whyThisWorks);
    // Your code here.
</script>