<h3>ADMIN</h3>
<nav>
  <a class="button" routerLink="./" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <a class="button" routerLink="./crises" routerLinkActive="activebutton">Manage Crises</a>
  <a class="button" routerLink="./heroes" routerLinkActive="activebutton">Manage Heroes</a>
</nav>
<router-outlet></router-outlet>