<h1 class="title">Angular Router</h1>
<nav>
  <a class='button' routerLink="/crisis-center" routerLinkActive="activebutton">Crisis Center</a>
  <a class='button' routerLink="/superheroes" routerLinkActive="activebutton">Heroes</a>
  <a class='button' routerLink="/admin" routerLinkActive="activebutton">Admin</a>
  <a class='button' routerLink="/login" routerLinkActive="activebutton">Login</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>